* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem - (($i - 1) * .2rem);
    font-weight: $bold;
    line-height: 1.2;
  }
}

p, a, span {
  color: $black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
}

a {
  color: red;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.content {
  margin: 0 auto;
  max-width: $max-width;
  padding: 3rem .75rem;
  width: 100%;
}

.m-r-sm { margin-right: .5rem; }
