.header {
  background-color: $white;
  border-bottom: 1px solid $grey;
  width: 100%;
  
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
    padding: 1.25rem .75rem .75rem;
    width: 100%;

    @include over-md {
      flex-direction: row;
      padding: 1.25rem .75rem;
    }
  }

  &__logo-link {
    display: block;
    height: 40px;
    margin-bottom: 1rem;
    width: auto;

    @include over-md { margin-bottom: 0; }
  }

  &__logo {
    height: 40px;
    width: auto;
  }
}

.header__nav {
  max-width: 320px;
  width: 100%;

  @include over-md { max-width: unset; }

  &-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    @include over-md {
      justify-content: flex-end;
    }
  }

  &-item {
    background-color: $white;
    border-bottom: 1px solid $white;
    color: $black;
    display: block;
    height: 40px;
    max-width: 75px;
    position: relative;
    text-align: center;
    transition: color $anim, background $anim, border $anim;

    @include over-md {
      max-width: unset;
      padding: 0 .75rem;
      &:not(:last-of-type) { margin-right: 1rem; }

      &:hover {
        background-color: $grey--light;
        border-bottom: 1px solid $grey;
        color: $blue;
      }
    }
  }

  &-link {
    color: inherit;
    display: block;
    font-size: .875rem;
    font-weight: $medium;
    line-height: 40px;

    &:visited {
      color: inherit;
    }
  }
}

.sub-header {
  background-color: $grey--light;
  border-bottom: 1px solid $grey;
  padding: 1rem .75rem;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;
  }

  &__text {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-size: .875rem;
    margin: 0;

    span { font-family: 'Roboto', 'Montserrat', sans-serif; font-size: inherit; }
  }

  i { color: $blue; }
}